@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* colors */
    --primary-50: #a198f5;
    --primary-100: #9187ed;
    --primary-200: #7368dc;
    --primary-300: #6155cb;
    --primary-400: #5348bd;
    --primary-500: #4b3fb1;
    --primary-600: #4439ac;
    --primary-700: #3c31a1;
    --primary-800: #322794;
    --primary-900: #271d81;
    /* grey */
    --grey-50: rgb(249 250 251);
    ;
    --grey-100: rgb(243 244 246);
    ;
    --grey-200: rgb(229 231 235);
    ;
    --grey-300: rgb(209 213 219);
    ;
    --grey-400: rgb(156 163 175);
    ;
    --grey-500: rgb(107 114 128);
    ;
    --grey-600: rgb(75 85 99);
    ;
    --grey-700: rgb(55 65 81);
    ;
    --grey-800: rgb(31 41 55);
    ;
    --grey-900: rgb(17 24 39);
    ;
    /* pink */
    --pink-50: #fbabfa;
    --pink-100: #f494f2;
    --pink-200: #f083ee;
    --pink-300: #ef72ed;
    --pink-400: #ed5ceb;
    --pink-500: #ea47e7;
    --pink-600: #fb18f7;
    --pink-700: #ff00fa;
    --pink-800: #e001dc;
    --pink-900: #c602c3;
    /* sky blue */
    --skyblue-50: #cfd9fa;
    --skyblue-100: #b9c8f9;
    --skyblue-200: #a5b7f3;
    --skyblue-300: #97aef8;
    --skyblue-400: #8ca5f8;
    --skyblue-500: #7f9bfb;
    --skyblue-600: #6c8bf0;
    --skyblue-700: #6184f6;
    --skyblue-800: #466def;
    --skyblue-900: #2f5df3;
    /* rest of the colors */
    --black: #141613;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --red: #FF0000;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--skyblue-200) var(--skyblue-200);
    font-family: sans-serif;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--skyblue-200);
    border-radius: 40px;
    border: 0 none #ffffff;
}

body {
    background: var(--grey-100);
}
/* headers */
h1{
    font-size: 32px !important;
}
h2{
    font-size: 24px !important;
}
h3{
    font-size: 18px !important;
}
h4{
    font-size: 16px !important;
}
h5{
    font-size: 13px !important;
}
h6{
    font-size: 11px !important;
}
a {
    text-decoration: none;
}

p,span {
    font-size: 14px !important;
}

@media(max-width:480px) {
    h1{
        font-size: 24px !important;
    }
    h2{
        font-size: 18px !important;
    }
    h3{
        font-size: 16px !important;
    }
    h4{
        font-size: 14px !important;
    }
    h5{
        font-size: 12px !important;
    }
    h6{
        font-size: 10px !important;
    }
    p, span{
        font-size: 11px !important;
    }
}