@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* colors */
    --primary-50: #a198f5;
    --primary-100: #9187ed;
    --primary-200: #7368dc;
    --primary-300: #6155cb;
    --primary-400: #5348bd;
    --primary-500: #4b3fb1;
    --primary-600: #4439ac;
    --primary-700: #3c31a1;
    --primary-800: #322794;
    --primary-900: #271d81;
    /* grey */
    --grey-50: #e1dede;
    --grey-100: #d7d7d7;
    --grey-200: #c7c8c7;
    --grey-300: #bec0be;
    --grey-400: #acadac;
    --grey-500: #8c8d8c;
    --grey-600: #6c6e6c;
    --grey-700: #5d5e5d;
    --grey-800: #50514f;
    --grey-900: #484a46;
    /* pink */
    --pink-50: #fbabfa;
    --pink-100: #f494f2;
    --pink-200: #f083ee;
    --pink-300: #ef72ed;
    --pink-400: #ed5ceb;
    --pink-500: #ea47e7;
    --pink-600: #fb18f7;
    --pink-700: #ff00fa;
    --pink-800: #e001dc;
    --pink-900: #c602c3;
    /* sky blue */
    --pink-50: #cfd9fa;
    --pink-100: #b9c8f9;
    --pink-200: #a5b7f3;
    --pink-300: #97aef8;
    --pink-400: #8ca5f8;
    --pink-500: #7f9bfb;
    --pink-600: #6c8bf0;
    --pink-700: #6184f6;
    --pink-800: #466def;
    --pink-900: #2f5df3;
    /* rest of the colors */
    --black: #141613;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --red : #FF0000;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
}

